<div class='panel panel-primary'>
  <div class='panel-heading'>
    {{pageTitle}}
  </div>
  <div class='panel-body'>
    <div class="row">
      <div class="col-md-4">
        <input *ngIf="config?.filtering" placeholder="Filter all columns"
         [appFilter]="config?.filtering" class="form-control" (tableChanged)="onChangeTable(config)"
        />
      </div>
    </div>
    <br>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th *ngFor="let column of columns" [appSort]="config" [column]="column"
             (sortChanged)="onChangeTable($event)">
              {{column.title}}
              <i class="pull-right fa" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td *ngFor="let column of columns">
            <input *ngIf="column.filtering" placeholder="{{column.filtering.placeholder}}"
            [appFilter]="column.filtering"
            class="form-control"
            style="width: auto;"
            (tableChanged)="tableChanged(config)"/>
          </td>
          </tr>
          <tr *ngFor='let movie of pagedItems'>
            <td>{{ movie?.Title }}</td>
            <td>{{ movie?.Director }}</td>
            <td>{{ movie?.Actor_1 }}</td>
            <td>{{ movie?.Actor_2 }}</td>
            <td>{{ movie?.Language }}</td>
            <td>{{ movie?.Country }}</td>
            <td>{{ movie?.Content_rating }}</td>
            <td>{{ movie?.Genres }}</td>
            <td>{{ movie?.Budget | currency:'USD': 'symbol' : '1.0' }}</td>
            <td>{{ movie?.Year }}</td>
            <td>
              <a href='{{movie?.Imdb}}'>Go</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="text-center">

  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">First</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Last</a>
    </li>
  </ul>
</div>